.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding-bottom: 40px;
  color: white;
}

h3{
  padding: .75em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.link {
  color: black;
  
}

.link:hover{
  text-decoration:none;
  color: rgb(0, 247, 255);
}

.picContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 1em;
  width: 150px;
}
.picContainer:after {
  content: "";
  display: block;
  padding-bottom: 100%; 
}

.profilePic {
  border-radius: 50%;
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}


.reviewBoard{
  width: 50%;
  margin: 0 auto;
  padding: 2%;
}

@media (max-width:1000px) {
    .reviewBoard {
        width: 100%;
        margin: 0 auto;
        padding: 2%;
    }
}

.reviewTitle{
  text-align: left;
}

.reviewStars{
  text-align: left;
  font-size: 1em;
}

.reviewText{
  text-align: left;
  background-color: rgb(235, 235, 235);
  font-size: .85em;
  padding: .75em;
  border-radius: .5em;
  border: solid .5px black;
}

.basicInfo{
  padding: .75em;
}

.list-group-item:first-child{
  background-color: #b5f5ff;
  color: black;
}

.list-group-item:hover{
  background-color: rgb(240, 240, 240);
}

.list-group-item:first-child:hover{
  background-color: #b5f5ff;
  color: black;
}

.usersBoard{
  padding: 2em;
  width: 50%;
  margin: 0 auto;
}

@media (max-width:1000px) {
    .usersBoard {
        width: 100%;
    }
}